.banner-section {
	background-color: $dark-blue;
	min-height: 100vh;
	position: relative;
	.uk-container {
		position: relative;
		min-height: 100vh;
	}
	.uk-button-secondary {
		background: $heroblue;
		@include hover {
			background: $heroblue;
		}
	}
}

.banner-inner {
	position: absolute;
	bottom: 0;
	left: 40px;
	width: calc(100% - 80px);

	>span {
		color: $white;
		font-weight: $light;
		font-size: 34px;
		display: block;
		margin-bottom: 40px;
	}

	.uk-flex {
		span {
			position: absolute;
			right: 0;
			font-weight: $light;
			font-size: 14px;
			color: $white;
		}
	}

	@media (max-width: $breakpointLarge) {
		>span {
			font-size: 26px;
		}
		.uk-flex span {
			display: none;
		}
	}

	@media (max-width: $breakpointSmall) {
		>span {
			font-size: 18px;
		}
	}
}
