.banner-section {
	min-height: 100vh;
	position: relative;
	.uk-container {
		position: relative;
		min-height: 100vh;
	}
}

.banner-inner {
	position: absolute;
	bottom: 0;
	left: 40px;
	width: calc(100% - 80px);

	>span {
		color: $white;
		font-weight: $light;
		font-size: 34px;
		display: block;
		margin-bottom: 40px;
	}

	.uk-flex {
		span {
			position: absolute;
			right: 0;
			font-weight: $light;
			font-size: 14px;
			color: $white;
		}
	}

	// @media (max-width: $breakpointLarge) {

	// }

	// @media (max-width: $breakpointSmall) {
		
	// }
}
