.template-campaign {
	.uk-container {
		max-width: 1295px;
	}

	.uk-breadcrumb {
		padding-bottom: 25px;

		* {
			font-size: 21px;
			line-height: 1;
			color: $blue-campaign;
		}

		>:last-child>*,
		>:nth-child(n+2):not(.uk-first-column)::before {
			color: $blue-campaign;
		}

		a {
			text-decoration: none;
			position: relative;

			&::before {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: $blue-campaign;
				content: '';
				transition: $nbSec ease-in-out;
			}

			@include hover {
				color: $blue-campaign;

				&::before {
					opacity: 0;
				}
			}
		}
	}

	h1 {
		font-size: 44px;
		margin-bottom: 130px;
		line-height: 1.2;
	}

	@media (min-width: $breakpointSmall) {
		h1 {
			font-size: 72px;
			margin-bottom: 140px;
		}

		.uk-breadcrumb {
			padding-bottom: 65px;
		}
	}

	@media (min-width: $breakpointMedium) {
		h1 {
			font-size: 90px;
			margin-bottom: 189px;
		}
	}

	@media (min-width: $breakpointLarge) {
		h1 {
			font-size: 100px;
		}
	}
}

.campaign-button-wrap {
	margin-top: -100px;
}

.campaign-intro {
	clip-path: url('#campaign-intro-path');
	background-color: $blue-light-alt;
	padding: 125px 0 130px;
	margin-top: -95px;

	.uk-text-lead {
		font-size: 24px;
		color: $blue-campaign;
		font-family: $font-black;
	}

	@media (min-width: $breakpointSmall) {
		margin-top: -87px;
	}

	@media (min-width: $breakpointMedium) {
		padding: 148px 0 278px;

		.uk-text-lead {
			font-size: 32px;
			color: $blue-campaign;
			font-family: $font-black;
			max-width: 90%;
		}
	}
}

.campaign-section {

	&:not(.uk-background-cover) {

		&::before,
		&::after {
			position: absolute;
			content: '';
			background-color: $blue-light-alt;
			z-index: 0;
			mix-blend-mode: multiply;
		}

		&::after {
			left: 20px;
			top: 0;
			height: 100%;
			width: 150px;
		}

		&::before {
			top: 95px;
			left: 0;
			height: 115px;
			width: 95%;
		}

		&.campaign-dark {
			&::before {
				width: 100%;
				left: 0;
				top: 80px;
			}

			&::after {
				right: 20px;
				top: 0;
				height: 100%;
				left: auto;
			}
		}
	}

	h2 {
		font-size: 46px;
		font-family: $font-black;
		margin-bottom: 30px;
		line-height: 64px;
	}

	p {
		font-size: 18px;
		line-height: 36px;
	}

	@media (min-width: $breakpointSmall) {

		&:not(.uk-background-cover) {
			&::after {
				left: 80px;
				width: 190px;
			}

			&::before {
				width: 85%;
				height: 155px;
			}

			&.campaign-dark {
				&::after {
					right: 50px;
				}
			}
		}
	}

	@media (min-width: $breakpointMedium) {
		h2 {
			font-size: 60px;
			margin-bottom: 55px;
			line-height: 64px;
		}

		p {
			font-size: 21px;
			line-height: 40px;
		}

		&:not(.uk-background-cover) {
			&::after {
				left: 125px;
			}

			&::before {
				width: 70%;
			}

			&.campaign-dark {
				&::before {
					top: 100px;
				}
			}
		}
	}

	@media (min-width: $breakpointLarge) {
		h2 {
			font-size: 70px;
			margin-bottom: 75px;
			line-height: 84px;
		}

		&:not(.uk-background-cover) {

			&::after {
				left: 175px;
				width: 220px;
			}

			&::before {
				height: 185px;
				width: 54%;
			}

			&.campaign-dark {
				&::before {
					top: 142px;
				}

				&::after {
					right: 80px;
				}
			}
		}
	}
}

.campaign-light {
	h2 {
		color: $blue-campaign;
	}

	p {
		color: $grey-campaign;
	}
}

.campaign-dark {
	background-color: $blue-campaign;
	clip-path: url('#campaign-dark-path');

	&:not(.uk-background-cover) {
		padding: 130px 0;
	}

	.uk-flex {
		display: flex;
		justify-content: flex-end;
	}

	img {
		position: absolute;
		left: 0;
		width: 50%;
	}

	h2,
	p {
		color: $white;
	}

	@media (min-width: $breakpointLarge) {
		&:not(.uk-background-cover) {
			padding: 164px 0;
		}
	}
}

.campaign-arrival {
	padding-top: 15px;

	.campaign-text {
		padding-top: 50px;
	}
}

.campaign-text {
	position: relative;
	z-index: 1;

	@media (min-width: $breakpointLarge) {
		width: 48%;
		padding-left: 15px;

		h2 {
			padding-right: 80px;
		}
	}
}

.campaign-info {
	margin-top: 40px;

	svg {
		fill: $blue-campaign-icon;
		height: auto;
	}

	.uk-svg:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
		stroke: $blue-campaign-icon;
	}

	span {
		display: block;
		color: $blue-campaign-icon;
		font-size: 16px;
		font-family: $font-black;
	}

	ul li {
		>div {
			padding-left: 20px;
		}

		&:first-of-type {
			>div {
				padding-left: 20px;
			}

			h3 {
				line-height: 1.1;
				font-size: 40px;
			}

			svg {
				width: 80px;
			}
		}

		&:nth-of-type(2) {
			>div {
				padding-left: 20px;
			}

			svg {
				width: 115px;
			}
		}

		&:nth-of-type(3) {

			svg {
				width: 80px;
			}

			span {
				padding-right: 30px;
			}
		}

		&:last-of-type {
			svg {
				width: 105px;
			}
		}

		&:not(:first-of-type) h3 {
			font-size: 30px;
		}
	}

	h3 {
		margin-bottom: 0;
		color: $blue-campaign;
		font-family: $font-black;
	}

	@media (min-width: $breakpointSmall) {
		span {
			font-size: 20px;
		}

		ul li {

			&:first-of-type svg,
			&:nth-of-type(2) svg,
			&:nth-of-type(3) svg {
				width: 80px;
			}

			&:first-of-type {
				h3 {
					padding-left: 10px;
					font-size: 46px;
				}
			}

			&:last-of-type svg {
				width: 100px;
			}

			&:not(:first-of-type) h3 {
				font-size: 36px;
			}
		}
	}

	@media (min-width: $breakpointMedium) {
		width: 50%;
		padding-left: 20px;
		margin-top: 0;

		ul {
			max-width: 400px;

			li {

				&:nth-of-type(2) {
					svg {
						width: 150px;
					}
				}

				&:nth-of-type(3) {
					padding-left: 30px;

					svg {
						width: 150px;
					}

					>div {
						padding-left: 30px;
					}
				}

				&:last-of-type {
					svg {
						width: 105px;
					}
				}

				&:nth-of-type(even) {
					flex-direction: row-reverse;
					text-align: right;

					>div {
						padding-right: 20px;
					}
				}
			}
		}
	}

	@media (min-width: $breakpointXlarge) {
		width: 46%;
		padding-left: 90px;

		ul {
			max-width: 100%;

			li {

				&:first-of-type {
					margin-bottom: 12px;

					h3 {
						font-size: 60px;
					}

					svg {
						width: 121px;
					}
				}

				&:nth-of-type(2) {
					margin-bottom: 50px;

					svg {
						width: 223px;
					}
				}

				&:nth-of-type(3) {
					margin-bottom: 40px;
					justify-content: center;

					svg {
						width: 170px;
					}
				}

				&:last-of-type {
					svg {
						width: 147px;
					}
				}

				&:not(:first-of-type) h3 {
					font-size: 46px;
				}
			}

			span {
				font-size: 28px;
			}
		}
	}
}

.campaign-map {
	padding-bottom: 450px;
	padding-top: 90px;

	img {
		bottom: 20px;
		position: absolute;
		left: 50%;
		right: auto;
		transform: translateX(-50%);
		width: 582px;
		max-width: 280px;
	}

	@media (min-width: $breakpointSmall) {
		padding-bottom: 480px;

		img {
			left: auto;
			right: 30px;
			width: 415px;
			max-width: 100%;
			transform: translateX(0);
		}
	}

	@media (min-width: $breakpointMedium) {
		padding-bottom: 215px;

		.campaign-text {
			width: 48%;
		}

		img {
			bottom: 115px;
			left: 55%;
			right: auto;
			width: 415px;
		}
	}

	@media (min-width: $breakpointLarge) {
		img {
			left: 48%;
			width: 582px;
		}
	}
}

.campaign-rebuild {
	padding: 35px 0 133px;

	.uk-container>.uk-flex {
		flex-direction: column;
		padding-top: 60px;
	}

	h2 {
		padding-right: 0;
	}

	p:last-of-type {
		margin-bottom: 37px;
	}

	.source {
		span {
			font-size: 18px;
		}
	}

	@media (min-width: $breakpointMedium) {
		.campaign-text {
			width: 48%;
			padding-top: 25px;
		}

		.uk-container>.uk-flex {
			flex-direction: row;
		}
	}

	@media (min-width: $breakpointLarge) {
		p:last-of-type {
			margin-bottom: 97px;
		}
	}
}

.campaign-consistency {
	.campaign-text {
		padding-top: 30px;
	}
}

.campaign-ship {
	padding: 155px 0;

	.uk-container>.uk-flex {
		flex-direction: column;
	}

	.campaign-text {
		margin-bottom: 30px;
	}

	@media (min-width: $breakpointMedium) {

		.campaign-text {
			width: 80%;
			margin-bottom: 0;
		}

		.uk-container>.uk-flex {
			flex-direction: row;
			align-items: center;
		}
	}

	@media (min-width: $breakpointLarge) {
		&.campaign-section:not(.uk-background-cover)::before {
			top: 153px;
		}

		.campaign-text {
			width: 48%;
			padding-top: 25px;
		}
	}
}

.campaign-ship-img {
	position: relative;
	z-index: 1;

	img {
		max-width: 280px;
		min-height: auto;
	}

	@media (min-width: $breakpointMedium) {
		width: 50%;
		padding-left: 30px;

		img {
			max-width: 100%;
		}
	}
}

.campaign-enjoy {

	.campaign-enjoy-wrap {
		margin-right: 0;
		padding: 130px 0;
		width: 100%;
	}

	.campaign-enjoy-inner {
		background-color: rgba($blue-campaign-gradient, .8);
		padding: 25px 15px;
	}

	.campaign-text {
		width: 100%;
		padding: 0;

		h2 {
			margin-bottom: 47px;
			padding-right: 0;
		}
	}

	@media (min-width: $breakpointSmall) {

		.campaign-enjoy-wrap {
			padding: 0;
			clip-path: url('#campaign-enjoy-path');
			margin-right: -60%;
			width: 150%;
		}

		.campaign-enjoy-inner {
			background-image: linear-gradient(to right, $blue-campaign-gradient 10%, rgba($blue-campaign-gradient, .5), rgba($blue-campaign-gradient, .15), transparent);
			padding-bottom: 135px;
			padding-top: 135px;
			padding-left: 179px;
		}

		.campaign-text {
			width: 48%;
		}
	}

	@media (min-width: $breakpointMedium) {
		.campaign-enjoy-inner {
			padding-top: 135px;
			padding-left: 210px;
		}

		.campaign-enjoy-wrap {
			margin-right: -80%;
		}

		.campaign-text {
			width: 34%;
		}
	}

	@media (min-width: $breakpointLarge) {
		.campaign-enjoy-inner {
			padding-top: 170px;
			padding-left: 355px;
		}
	}
}

.campaign-brochure {
	background-color: $blue-light-alt;
	padding: 230px 0 120px;
	margin-top: -160px;
	z-index: 0;

	.uk-container>.uk-flex {
		flex-direction: column;
	}

	span,
	.uk-button {
		font-family: $font-black;
	}

	span {
		font-size: 40px;
		line-height: 50px;
		color: $blue-campaign;
		padding-right: 20px;
		display: block;
		margin-bottom: 35px;
	}

	.uk-button {
		background-color: $blue-campaign;
		font-size: 20px;
		color: $blue-light-alt;
		line-height: 26px;
		padding: 28px 40px;

		.uk-button--text {
			color: inherit;
			margin: 0;
			padding: 0;
		}
	}

	@media (min-width: $breakpointSmall) {
		.uk-container>.uk-flex {
			flex-direction: row;
		}

		span {
			margin-bottom: 0;
		}
	}

	@media (min-width: $breakpointMedium) {
		span {
			font-size: 58px;
			line-height: 70px;
		}

		.uk-button {
			font-size: 24px;
			padding: 35px 45px;
		}
	}

	@media (min-width: $breakpointLarge) {
		padding: 190px 0;
		margin-top: -100px;

		span {
			font-size: 65px;
			line-height: 78px;
			padding-right: 40px;
		}

		.uk-button {
			font-size: 30px;
			padding: 50px 63px;
		}
	}
}

.campaign-arrival,
.campaign-consistency {
	.uk-container>.uk-flex {
		flex-direction: column;
	}

	@media (min-width: $breakpointLarge) {
		.uk-container>.uk-flex {
			flex-direction: row;
		}
	}
}

.campaign-clipped {
	clip-path: url('#campaign-arrival-path');
	display: block;
	position: relative;
	width: 125%;
	margin-left: -25%;
	min-height: 350px;
	transform: none;
	background-position: center;
	background-size: cover;
	z-index: 1;
	margin-top: 20px;

	@media (min-width: $breakpointLarge) {
		left: 0;
		top: 164px;
		width: 109.3%;
		background-size: 85%;
		background-position: 132% 50%;
		position: absolute;
		transform: translateX(-55%);
		height: calc(100% - 328px);
		margin-left: 0;
		margin-top: 0;
	}

	@media (min-width: $breakpointMediumLarge) {
		background-size: 70%;
		background-position: 180% 50%;
		background-repeat: no-repeat;
	}
}

// sass-lint:disable no-vendor-prefixes
//IE11 specific
@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
	.campaign-section {
		&:not(.uk-background-cover) {

			&::before,
			&::after {
				background-color: rgba($blue-light-alt, .5);
			}

			&.campaign-dark {

				&::before,
				&::after {
					background-color: rgba($blue-campaign-ie, .3);
				}
			}
		}
	}

	.campaign-info ul {
		max-width: 500px;
	}

	.campaign-enjoy {
		.campaign-enjoy-wrap {
			width: 100%;
			margin-right: -50%;
		}

		.campaign-enjoy-inner {
			padding-left: 120px;
		}

		.campaign-text {
			width: 50%;
		}
	}

	.campaign-intro {
		padding: 148px 0 178px;
	}
}


//IOS specific
@supports (-webkit-touch-callout: none) {
	@media (max-width: $breakpointMedium) {

		.campaign-intro {
			clip-path: none;
		}
	}
}
