.destination-section {
	padding: 30px 0 0;
	position: relative;

	h2,
	span,
	a,
	p {
		color: $white;
	}

	.uk-container {
		position: relative;

		&:last-of-type {
			padding: 0 0 140px;
			max-width: 1615px;
		}
	}

	@media (max-width: $breakpointLarge) {
		.uk-container:last-of-type {
			padding: 0 40px 140px;
		}
	}

	@media (max-width: $breakpointMedium) {
		.uk-container:last-of-type {
			padding: 0 30px 140px;
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-container:last-of-type {
			padding: 0 20px 140px;
		}
		>.uk-container>.uk-flex {
			flex-direction: column;

			h2 {
				font-size: 44px;
			}

			p {
				margin-bottom: 20px;
			}
		}
	}
}

.destination-text-wrap {
	padding-right: 295px;
	position: relative;

	@media (max-width: $breakpointLarge) {
		padding-right: 0;
	}
}

.destination-text {
	padding: 110px 200px 0 0;

	span {
		font-weight: $light;
		display: block;
		margin-bottom: 15px;

		&:first-of-type {
			display: block;
			padding-left: 40px;
			position: relative;

			img {
				width: 25px;
				height: auto;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}

		&:last-of-type {
			font-family: $font-black;
			font-size: 20px;
		}
	}

	h2 {
		margin: 0 0 40px;
		font-family: $font-black;
	}

	p {
		font-size: 16px;
		margin-bottom: 85px;
	}

	@media (max-width: $breakpointLarge) {
		padding: 100px 0 0;
	}

	@media (max-width: $breakpointSmall) {
		padding: 30px 0 0;

		span:last-of-type {
			font-size: 16px;
		}
	}
}

.destination-map {
	position: relative;

	img {
		width: 100%;
		max-width: 340px;
	}

	ul {
		position: absolute;
		left: 0;
		width: 100%;
		top: 0;
		bottom: 0;
		li {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	@media (max-width: $breakpointSmall) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

.pin {
	transform: rotate(-45deg);
	transform-origin: 50% 50%;
	border-radius: 50% 50% 50% 0;
	padding: 0 3px 3px 0;
	width: 40px;
	height: 40px;
	background: $blue;
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: -1px 1px 4px rgba($black, .5);
	transition: $nbSpeed ease-in-out;
	z-index: 2;

	&::before {
		color: $white;
		transform: rotate(45deg) translateX(-70%);
		font-size: 16px;
		left: 50%;
		top: 50%;
		position: absolute;
		transition: $nbSpeed ease-in-out;
	}

	@include hover {
		background: $white;
		transform: rotate(-45deg) scale(1.05);

		&::before {
			color: $dark-blue;
		}
	}
}

.pin--active {
	background: $white;
	width: 45px;
	height: 45px;

	&::before {
		color: $dark-blue;
	}
}

.beacon {
	position: absolute;
	top: 73%;
	left: 9%;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.beacon::before,
.beacon::after {
	position: absolute;
	content: '';
	height: 15px;
	width: 15px;
	left: 0;
	top: 0;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 10px $blue;
	animation: active 2s infinite linear;
}

.beacon::after {
	animation-delay: 1s;
}

@keyframes active {
	0% {
		transform: scale(.1) box-shadow(0 0 0 1px $blue);
		opacity: 1;
	}

	100% {
		transform: scale(3.5);
		opacity: 0;
	}
}

.destination-cards {
	@media (max-width: $breakpointLarge) {
		display: none;
	}

	@media (max-width: $breakpointSmall) {
		display: block;
		position: relative;
	}
}

.destination-card {
	position: absolute;
	right: 0;
	top: 140px;
	z-index: 3;
	width: 290px;

	.uk-card-media-top {
		position: relative;

		span,
		button {
			position: absolute;
			z-index: 4;
		}

		span {
			color: $white;

			&:first-of-type {
				top: 20px;
				left: 20px;
				width: 30px;
			}

			&:last-of-type {
				left: 20px;
				bottom: 20px;
				font-family: $font-black;
				font-size: 20px;
			}
		}

		button {
			background: $white;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;

			svg {
				width: 14px;
			}
		}
	}

	.uk-card-body {
		min-height: 120px;
		padding: 25px 20px 15px;
		position: relative;

		.uk-flex {
			&:last-of-type {
				margin-bottom: 18px;
			}

			span {
				display: inline-block;

				&:first-of-type {
					font-size: 12px;
					color: $grey;
				}

				&:last-of-type {
					font-size: 14px;
					color: $black;
					margin-left: 12px;
				}
			}
		}
	}

	.uk-button-secondary {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 50px;
		width: 50px;

		svg {
			width: 25px;
		}
	}

	@media (max-width: $breakpointSmall) {
		position: relative;
		top: auto;
		right: auto;
		width: 100%;

		img {
			width: 100%;
		}
	}
}

.destination-members {
	>span {
		font-size: 12px;
		font-family: $font-black;
		display: block;
		margin-bottom: 7px;
		padding-left: 7.5px;
	}

	ul {
		width: 100%;

		li {
			margin-bottom: 1px;
			padding: 0 8px;

			button {
				background: $blue-navy;
				color: $white;
				padding: 10px 20px 10px 50px;
				position: relative;
				font-family: $font-black;
				font-size: 14px;
				transition: $nbSpeed ease-in-out;
				width: 100%;

				&::before {
					position: absolute;
					top: 50%;
					left: 15px;
					transform: translateY(-50%);
					width: 20px;
				}

				@include hover {
					background: $white;
					color: $dark-blue;

					&::before {
						color: $dark-blue;
					}
				}
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		ul li {
			padding: 0;

			&:nth-child(even) {
				padding: 0 0 0 15px;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		ul li {
			padding: 0;

			&:nth-child(even) {
				padding: 0;
			}
		}
	}
}
