.distance-calculator {
	background: $dark-blue;
	left: 40px;
	position: absolute;
	bottom: 0;
	transform: translateY(50%);
	min-height: 100px;
	padding: 20px 170px 20px 160px;
	width: calc(100% - 80px);
	z-index: 1;

	>div {
		span {
			color: $white;
		}

		&:first-of-type span {
			&:first-of-type {
				position: absolute;
				left: 35px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 80px;
			}

			&:last-of-type {
				font-family: $font-black;
				display: block;
				font-size: 34px;
			}

		}

		&:last-of-type span {
			font-size: 18px;
		}
	}

	a {
		position: absolute;
		top: 0;
		bottom: 0;
		background: $white;
		right: 0;
		height: 100%;

		svg {
			color: $blue;
			position: absolute;
			right: 0;
			width: 45px;
		}
	}

	@media (max-width: $breakpointLarge) {
		padding: 20px 110px 20px 120px;
		flex-direction: column;
		min-height: 0;

		>div {

			&:first-of-type span {
				&:last-of-type {
					font-size: 26px;
				}
			}

			&:last-of-type span {
				font-size: 14px;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		padding: 25px 20px 70px 25px;
		left: 20px;
		width: calc(100% - 40px);

		>div:first-of-type {
			span:first-of-type {
				top: 10px;
				left: 20px;
				transform: translateY(0%);
				width: 70px;
			}
		}

		.uk-width-1-1\@s {
			&:first-of-type {
				padding-left: 100px;
				min-height: 80px;
			}

			&:last-of-type {
				padding-top: 10px;
			}
		}

		img {
			top: 20px;
			transform: none;
		}

		a {
			left: 0;
			width: 100%;
			height: 50px;
			top: auto;

			svg {
				right: 10px;
				left: auto;
				transform: translate(0%, -50%);
			}
		}
	}
}
