.footer-top {
	padding-top: 55px;

	h2,
	span,
	a {
		color: $dark-blue;
	}

	h2 {
		font-family: $font-black;
		font-size: 26px;
		margin-bottom: 30px;
	}

	span {
		display: block;
		font-size: 14px;
		margin-bottom: 12px;

		&:not(.uk-text-bold) {
			font-weight: $light;
		}
	}

	.footer-box {
		padding-bottom: 85px;

		li {
			margin-bottom: 12px;

			span,
			a {
				font-weight: $light;
				font-size: 14px;
			}

			a {
				text-decoration: none;
				position: relative;

				span {
					position: absolute;
					font-size: 20px;
					color: inherit;
					top: -3px;
					left: 0;
				}
				@include hover {
					text-decoration: underline;
				}
			}
		}

		&:nth-of-type(2) {
			li a {
				padding-left: 35px;
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		padding: 50px 0 70px;

		>.uk-container>.uk-flex {
			justify-content: left;
			flex-wrap: wrap;
			position: relative;
		}

		.footer-box {
			padding-bottom: 15px;
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-width-1-4 {
			width: 100%;

			.footer-box:last-of-type {
				li a {
					padding-left: 0;
				}
			}
		}
	}
}

.brochure-img-wrap {
	position: relative;

	img {
		width: 100%;
	}

	@media (max-width: $breakpointLarge) {
		bottom: 25px;
		position: absolute;
		right: 0;
		max-width: 300px;
		width: 100%;
	}

	@media (max-width: $breakpointSmall) {
		position: relative;
		max-width: 100%;
		bottom: auto;
	}
}

.brochure-img {
	box-shadow: 0 -1px 19px -5px rgba($black, .7);
	position: absolute;
	bottom: 0;
	max-width: 300px;
	width: 100%;
	background: $white;
	padding: 25px 40px 0;

	h2,
	a {
		color: $heroblue;
	}

	h2 {
		margin-bottom: 25px;
		padding: 0;
	}

	a:first-of-type {
		display: block;
		margin-bottom: 15px;
		text-decoration: underline;
	}

	.uk-button-secondary {
		position: absolute;
		right: 0;
		bottom: 0;

		&::before {
			color: $white;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 55px;
		}
	}

	@media (max-width: $breakpointSmall) {
		max-width: 100%;
		position: relative;
	}
}

.footer-bottom {
	padding: 5px 0 35px;

	span {
		font-size: 12px;

		&:last-of-type {
			position: relative;
			padding-right: 20px;

			&::after {
				position: absolute;
				right: 0;
				top: 50%;
				height: 20px;
				width: 20px;
				transform: translate(50%, -50%);
				content: '';
				background-image: url('../images/nb-logo.png');
				background-size: cover;
				z-index: 1;
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		>.uk-container>.uk-flex {
			flex-direction: column;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		.uk-width-1-1\@m {
			&:first-of-type {
				margin-bottom: 50px;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		>.uk-container>.uk-flex>.uk-flex {
			flex-direction: column;
		}

		.uk-width-1-1\@m:last-of-type span {
			display: inline-block;

			&:first-of-type {
				margin-bottom: 20px;
			}

			&:last-of-type {
				width: 35%;

				&::before {
					right: 0;
				}
			}
		}
	}
}
