.intro-section {
	min-height: 100vh;
	padding: 100px 0 125px;

	.uk-slider-items {
		img {
			width: 100%;
		}
	}

	@media (max-width: $breakpointSmall) {
		padding: 100px 0 70px;
	}
}

.intro__container {
	width: 100%;
	position: relative;

	.uk-slider {
		position: relative;
		margin-bottom: 115px;
		left: 0;

		li {
			background-color: $dark-blue;
			position: relative;
			min-height: 350px;

			h3,
			h2,
			a {
				color: $white;
				font-family: $font-black;
			}

			h3 {
				font-size: 26px;
			}

			>a {
				background: rgba($blue, .4);
				opacity: 0;
				left: 0;
				top: 0;
				bottom: 0;
				position: absolute;
				width: 100%;
				z-index: 2;
				transition: $nbSpeed ease-in-out;

				@include hover {
					opacity: 1;
				}
			}

			&:first-of-type {
				background: $heroblue;

				.uk-panel {
					min-height: 100%;
				}

				h2 {
					font-size: 44px;
				}

				a {
					font-size: 14px;
				}
			}

			.uk-panel {
				padding: 50px 40px 40px;
				width: 100%;

				>span {
					background: rgba($white, .5);
					bottom: 0;
					display: block;
					height: 48px;
					right: 0;
					position: absolute;
					width: 48px;
					z-index: 1;

					svg {
						position: absolute;
						top: 50%;
						transform: translate(-50%, -50%);
						left: 50%;
						color: $white;
						width: 30px;
					}
				}
			}
		}
	}

	.uk-button-secondary {
		position: absolute;
		left: auto;
		bottom: 0;
		top: auto;
		transform: none;
		margin: 0;

		&:last-of-type {
			border-left: 1px solid $white;
		}

		svg {
			width: 22px;
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-slider li {
			min-height: 290px;
			max-width: 280px;

			&:first-of-type {
				display: none;
			}
		}

		.uk-hidden\@s {
			background: $heroblue;
			max-width: 280px;

			>.uk-flex {
				min-height: 290px;
				padding: 50px 40px 40px;
			}

			h2 {
				font-size: 42px;
			}

			h2,
			a {
				font-family: $font-black;
				color: $white;
			}

			a {
				font-size: 14px;
			}
		}

		.uk-button {
			z-index: 2;
			width: 50px;
			border: 0;
			height: 50px;
		}
	}
}

.intro-text {
	.text-medium {
		margin: 0 0 20px;
		padding-right: 30px;
	}

	p {
		margin-top: 0;
	}

	@media (max-width: $breakpointLarge) {
		.uk-flex {
			flex-direction: column;
		}
	}
}

.intro-heading {
	font-size: 54px;
	margin-bottom: 45px;

	@media (max-width: $breakpointLarge) {
		font-size: 44px;
	}
}
