.ports-content {
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;

	h2 {
		font-size: 34px;
		font-weight: $thin;
		margin-bottom: 50px;
	}

	p {
		font-weight: $light;
		font-size: 18px;
	}

	h3 {
		color: $heroblue;
		font-family: $font-black;
	}
	@media (max-width: $breakpointLarge) {
		>.uk-container >.uk-flex {
			flex-direction: column;
		}
		h2 {
			font-size: 30px;
			margin-bottom: 30px;
		}
		h3 {
			margin-top: 25px;
			font-size: 28px;
		}
	}
}

.ports-left {
	padding-right: 50px;
	@media (max-width: $breakpointLarge) {
		padding-right: 0;
	}
}

.ports-text {
	h2 {
		color: $heroblue;
		font-family: $font-black;
	}

	p {
		margin: 0 0 50px;
	}
}

.ports-plan {
	margin-bottom: 105px;
}

.ports-card {
	box-shadow: 9px 0 25px -12px rgba($black, .3);
	margin-bottom: 2px;
	position: relative;
	padding-left: 215px;
	@media (max-width: $breakpointSmall) {
		padding: 250px 0 0;	
		margin-bottom: 25px;
	}
}

.ports-card-img {
	display: block;
	min-height: 200px;
	max-width: 215px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	@media (max-width: $breakpointSmall) {
		width: 100%;
		max-width: 100%;
		min-height: 250px;
		bottom: auto;
	}
}

.ports-card-body {
	padding: 35px 40px 35px 50px;

	h3 {
		font-family: $font-black;
		font-size: 20px;
		color: $heroblue;
	}

	p {
		font-size: 14px;
	}
	@media (max-width: $breakpointSmall) {
		padding: 30px 20px;
	}
}

.ports-label {
	background: $heroblue;
	display: block;
	padding: 10px 50px 10px 20px;
	color: $white;
	position: absolute;
	top: 25px;
	font-family: $font-heavy;
	font-size: 12px;
	text-align: left;
	left: 119px;
	z-index: 1;

	&::after {
		content: '';
		background: $white;
		top: 0;
		bottom: 0;
		right: 30px;
		position: absolute;
		width: 1px;
		z-index: 2;
	}
	span {
		color: $white;
		position: absolute;
		font-size: 18px;
		right: 7px;
		top: 50%;
		transform: translateY(-50%);
	}
	@media (max-width: $breakpointSmall) {
		left: 0;
	}
}


