.recent-stories {
	background: $pastelblue;
	padding-top: 170px;

	.uk-slider {
		position: relative;
	}

	li {
		position: relative;

		.recent-text {
			position: relative;
			bottom: -100px;
			left: 0;
			width: 100%;
			transition: $nbSpeed .3s;
			z-index: 0;
		}

		p {
			font-weight: $light;
			font-size: 16px;
		}

		.recent-btns {
			background: $white;
			min-height: 50px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 3;
		}

		p.closed {
			max-height: 30px;
			overflow-y: visible;
		}

		.uk-card-media-top {
			display: block;
			height: 340px;
			position: relative;
			transition: $nbSpeed .3s;
		}

		.uk-card-body {
			bottom: 0;
			left: 0;
			width: 100%;
			position: absolute;
			transition: $nbSpeed .3s;
			min-height: 220px;
			background: $white;

			.uk-button-secondary {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 50px;
				height: 50px;
			}
		}

		.font-ico-calendar {
			display: block;
			font-size: 12px;
			padding-left: 45px;
			left: 45px;
			bottom: 25px;
			position: absolute;

			&::before {
				color: $heroblue;
				font-size: 20px;
				left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		>a {
			background: transparent;
			opacity: 0;
			left: 0;
			top: 0;
			bottom: 0;
			position: absolute;
			width: 100%;
			z-index: 4;
		}
		&.recent-card--active {
			.uk-card-body {
				min-height: 250px;
			}

			.uk-card-media-top {
				margin-top: -20px;
			}

			.recent-text {
				bottom: 0;
				transform: translateY(25%);
			}
		}
	}

	.uk-button-secondary {
		position: absolute;
		left: auto;
		bottom: 0;
		top: auto;
		transform: none;
		visibility: visible !important;// sass-lint:disable-line no-important
		margin: 0;
		&:last-of-type {
			border-left: 1px solid $white;
		}

		svg {
			width: 22px;
		}
	}

	.uk-card {
		z-index: 2;
		min-height: 550px;
	}

	@media (max-width: $breakpointSmall) {

		.uk-slider {
			li {
				max-width: 280px;
			}

			.uk-card-body .uk-button {
				display: none;
			}
		}

		.uk-button {
			width: 50px;
			height: 50px;
		}
	}
}
