.signup-section {
    padding: 160px 0 80px;
    h2 {
        color: $blue;
        padding-left: 90px;
        margin-bottom: 20px;
        font-family: $font-black;
        font-size: 44px;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: inherit;
            font-size: 75px;
        }
    }
    span {
        font-weight: $light;
        display: block;
        margin-bottom: 25px;
    }
}

.signup-wrap {
    padding-right: 150px;
}

.signup-box {
    background: $white;
    border-radius: 50px;
    margin-bottom: 25px;
    position: relative;
    min-height: 60px;
    input {
        padding: 25px 185px 25px 15px;
        border: 0;
        width: 100%;
        background: $grey-input;
        min-height: inherit;
        &::placeholder {
            font-size: 16px;
            color: $grey-input-text;
        }
    }
    .uk-button-primary {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 25px 90px 25px 35px;
        z-index: 1;
    }
    @media (max-width: $breakpointMedium) {
        background: transparent;
        border-radius: 0;
        input {
            margin-bottom: 10px;
        }
        .uk-button {
            position: static;
            top: auto;
            right: auto;
            bottom: auto;
            z-index: 1;
            width: 100%;
        }
    }
}
