h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font-default;
	font-weight: normal;
	line-height: 1.35em;
	margin-bottom: 15px;
	color: $black;
}

h1,
.h1 {
	color: $white;
	font-family: $font-black;
	font-size: 67px;
	font-weight: $bold;
	@media (max-width: $breakpointMedium) {
		font-size: 36px;
	}
	@media (max-width: $breakpointSmall) {
		font-size: 24px;
	}
}

h2,
.h2 {
	font-size: 54px;
	@media (max-width: $breakpointSmall) {
		margin-bottom: 20px;
	}
}

h3,
.h3 {
	font-size: 34px;
}

h4,
.h4 {
	font-size: 24px;
	font-weight: 400;
	@media (max-width: $breakpointSmall) {
		font-size: 20px;
	}
}

h5,
.h5 {
	font-size: 20px;
}

h6,
.h6 {
	font-size: 16px;
	font-weight: 400;
}


p {
	margin-bottom: 15px;
	font-size: 20px;
	color: $black;

	a {
		@include hover {
			text-decoration: none;
		}
	}
}

span {
	font-size: 18px;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

ol {
	padding-left: 20px;
}

img {
	max-width: 100%;
}

b {
	font-weight: $bold;
}
