@font-face {
	font-family: 'svgicons';
	src: url('../fonts/svgicons.woff2') format('woff2'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == ico-arrow-left {
		$char: '\E001';
	}
	@if $filename == ico-arrow-right {
		$char: '\E002';
	}
	@if $filename == ico-bollard {
		$char: '\E003';
	}
	@if $filename == ico-brush-shape {
		$char: '\E004';
	}
	@if $filename == ico-calendar {
		$char: '\E005';
	}
	@if $filename == ico-chevron-down {
		$char: '\E006';
	}
	@if $filename == ico-email {
		$char: '\E007';
	}
	@if $filename == ico-linkedin {
		$char: '\E008';
	}
	@if $filename == ico-medal {
		$char: '\E009';
	}
	@if $filename == ico-news {
		$char: '\E00A';
	}
	@if $filename == ico-quote {
		$char: '\E00B';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

[class*='font-ico'] {
	display: inline-block;
}

.font-ico-arrow-left {
	@include font(ico-arrow-left);
}
.font-ico-arrow-right {
	@include font(ico-arrow-right);
}
.font-ico-bollard {
	@include font(ico-bollard);
}
.font-ico-brush-shape {
	@include font(ico-brush-shape);
}
.font-ico-calendar {
	@include font(ico-calendar);
}
.font-ico-chevron-down {
	@include font(ico-chevron-down);
}
.font-ico-email {
	@include font(ico-email);
}
.font-ico-linkedin {
	@include font(ico-linkedin);
}
.font-ico-medal {
	@include font(ico-medal);
}
.font-ico-news {
	@include font(ico-news);
}
.font-ico-quote {
	@include font(ico-quote);
}
