$font-default: 'Aileron', sans-serif;
$font-black: 'Aileron Black', sans-serif;
$font-heavy: 'Aileron Heavy', sans-serif;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$light: 300;
$thin: 100;
$italic: italic;

$breakpointSmall: 640px;
$breakpointMedium: 960px;
$breakpointLarge: 1200px;
$breakpointMediumLarge: 1400px;
$breakpointXlarge: 1600px;
$breakpointXsmallMax: ($breakpointSmall - 1);
$breakpointSmallMax: ($breakpointMedium - 1);
$breakpointMediumMax: ($breakpointLarge - 1);
$breakpointLargeMax: ($breakpointXlarge - 1);
$breakpointMobile: 479px;


$nbCent: 37%;
$nbSec: 256ms;

$nbSpace: 2.5rem;
$nbSpaceSmall: $nbSpace * 0.6;
$nbSpaceXsmall: $nbSpace * 0.3;
$nbSpaceLarge: $nbSpace * 1.4;
$nbSpaceXlarge: $nbSpace * 2;
$nbGutter: $nbSpace * 0.2;
$nbGutterSmall: $nbGutter / 2;
$nbGutterXsmall: $nbGutterSmall / 2;

$white: #fff;
$green-positive: #cffff3;
$green: #4ecdad;
$black: #241d1e;
$blue: #26b4e9;
$midblue: #004b91;
$downblue: #007db3;
$lightblue: #68cbf0;
$softblue: #e9f7fd;
$skyblue: #93c3eb;
$tableblue: #dce7f7;
$pastelblue: #dff4fc;
$blueprominent: #c5efff;
$header-blue: #007fae;
$mediumblue: #0054a2;
$heroblue: #005fb8;
$herobluedark: #004e96;
$babyblue: #dbe7f7;
$blue-navy: #0f71a5;
$dark-blue: #065090;
$twitter-blue: #1da1f2;
$ui-blue: #004b91;
$blue-light-alt: #ddecf7;
$blue-campaign: #2e5086;
$blue-campaign-ie: #1b2f50;
$blue-campaign-gradient: #2960ad;
$blue-campaign-icon: #5ca4d9;
$grey-campaign: #636261;
$red: #e11e2f;
$red-error: #ffc5c5;
$grey: #848484;
$grey-input-text: #a9acad;
$grey-light: #eff4f6;
$grey-border: #cecdcd;
$grey-dark: #333;
$grey: lighten($black, $nbCent);
$lightGrey: lighten($grey, $nbCent);
$warning: #ffe4c1;
$warning-dark: #ffb453;

$site-colors: (
	'black': $black,
	'white': $white
) !default;

$nbSpeed: $nbSec;
$nbSpeedShort: $nbSpeed / 2;
$nbSpeedLong: $nbSpeed * 2;

$quote: 'ico-quote';
$brush: 'ico-brush-shape';

